<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1>WELCOME TO PARACORD CTRL.</h1>
              <h2>สวัสดีครับ 🙏🏿
                มองหาอะไรใส่ข้อมืออยู่รึเปล่า 
                ถ้าใช่คุณมาถูกทางแล้วครับ
                มาค้นหาสไตล์ของคุณเองไปกับเรา 
                บอกตัวตนที่เป็นคุณผ่านกำไล 1 เส้นที่คุณสามารถออกแบบเองได้ในราคาที่สามารถหยิบจับได้โดยที่กระเป๋าไม่สั่นแน่นอนครับ</h2>
          </div>

          <!--Call to Action-->
          <a href="#" class="button" (click)="next()">GO TO PRODUCT</a>
          <!--End Call to Action-->

      </div>

  </div><!--End of Row-->
</header>