
  <!--Social Icons in Header-->
  <ul class="social-icons">
      <li>
          <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
              <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
          </a>
      </li>
      <li>
          <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
              <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
          </a>
      </li>
      <li>
          <a target="_blank" title="behance" href="http://www.behance.net">
              <i class="fa fa-behance fa-1x"></i><span>Behance</span>
          </a>
      </li>
  </ul>
  <!--End of Social Icons in Header-->
