<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">
  
  
        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>สวัสดีครับ🙏🏿 ยินดีตอนรับเข้าสู่ร้านของเราครับ สินค้าที่ร้านเป็นงาน handmade สั่งทำได้
                    วัสดุของเราคือเชือก paracord 550 หลากหลายสีให้เลือกได้ตามใจชอบเลยครับ 
                </q>
                <footer>— Paracord Ctrl</footer>
            </blockquote>
            <p><img src="../assets/images/dancer-1.jpg" alt="Dancer"/></p>
            <!-- End of Testimonial-->
  
        </div>
        <!--End Content Left Side-->
  
        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>มันดียังไง? ไปดูกันครับ</h3>
                <h2 class="section-title">เชือกพาราคอร์ด 550 คือ?</h2>
                <p class="section-subtitle">หลายคนคงสงสัยว่าเชือกพาราคอร์ด (Paracord) คืออะไร บางที่จะเรียก Paracord 550 หรือ Type-III paracord</p>
        </div>
            <p>เชือกพาราคอร์ดทำมาจาก ไนลอนที่มีน้ำหนักเบา เดิมที่จะใช้สำหรับการโดดร่ม และเนื่องจากเชือกนี้สามารถใช้ประโยชน์อื่นๆได้อีกเยอะ ทางการทหารจึงนิยมใช้เชือกนี้ และใช้อย่างแพร่หลายในปัจจุบัน
                ยกตัวอย่างที่ทหารใช้กันเยอะคือเอามาพันด้ามมีด เพราะเวลาเข้าป่า หรือเกิดเหตุฉุกเฉินสามารถแกะเชือกออกมาใช้ได้ เลยมีอีกชื่อที่เรียกว่า Survival Paracord หรือเชือกยังชีพ
            </p>
            <p>
                เชือกพาราคอร์ดจะมีหลายประเภท (Type) แต่นี่นิยมนำมาใช้ในตลาดคือ Type III เลข 550 หลายถึงสามารถรองรับน้ำหนักได้ถึง 500 ปอร์น หรือประมาณ 250 กิโลกรัม ซึ่งจะเห็นว่าแข็งแรงมากๆ และยากที่จะขาดได้ ข้างในจะประกอบไปด้วยเชือกขาว 7 เส้น
                
            </p>
            <p><img src="../assets/images/about-images/img-1.png" alt="Dancer"/></p>
            <p>
                ด้วยความที่เชือกพาราคอร์ดมีความแข็งแรง ทนทาน ยืดหยุ่น มากจึงมีการทำมาใช้ประโยชน์หลายแบบอย่างเช่น   ด้ามมีด, สายคล้องปืน,  พวงกุญแจ,  สายคล้องกล้อง และสายข้อมือ paracord จะเป็นที่นิยมมาก เนื่องจากทำให้ได้หลายแบบ หลายสี  
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <!--<a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a> -->
        </div>
        <!--End Content Right Side-->
  
        <div class="col-3">
            <img src="../assets/images/dancer.jpg" alt="Dancer"/>
        </div>
  
    </div>
  
  
  </div>
  <!--End of Content Section-->