<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

      <div class="section-heading">
          <h3>FEEDBACK</h3>
          <h2 class="section-title">PARACORD CTRL THE PRODUCT</h2>
      </div>

      <!--User Testimonial-->
      <blockquote class="col-3 ">
          <img src="../assets/images/product-images/pd-1.jpg" alt="User"/>
          <b>Price 200 baht</b>
          <footer><q>gray - dark green</q></footer>
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 ">
          <img src="../assets/images/product-images/pd-2.jpg" alt="User"/>
          <b>Price 200 baht</b>
          <footer><q>black - black mix</q></footer>
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 ">
          <img src="../assets/images/product-images/pd-3.jpg" alt="User"/>
          <b>Price 200 baht</b>
          <footer><q>black - black mix</q></footer>
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 ">
        <img src="../assets/images/product-images/pd-4.jpg" alt="User"/>
        <b>Price 200 baht</b>
        <footer><q>black - red mix</q></footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 ">
        <img src="../assets/images/product-images/pd-5.jpg" alt="User"/>
        <b>Price 200 baht</b>
        <footer><q>black - red mix</q></footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 ">
        <img src="../assets/images/product-images/pd-6.jpg" alt="User"/>
        <b>Price 200 baht</b>
        <footer><q>black</q></footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 ">
        <img src="../assets/images/product-images/pd-7.jpg" alt="User"/>
        <b>Price 200 baht</b>
        <footer><q>black - gray</q></footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 ">
        <img src="../assets/images/product-images/pd-8.jpg" alt="User"/>
        <b>Price 200 baht</b>
        <footer><q>black - red brown</q></footer>
    </blockquote>
    <!-- End of Testimonial-->

    <!--User Testimonial-->
    <blockquote class="col-3 ">
        <img src="../assets/images/product-images/pd-9.jpg" alt="User"/>
        <b>Price 200 baht</b>
        <footer><q>gray - red mix</q></footer>
    </blockquote>
    <!-- End of Testimonial-->

  </div>

</aside>
<!--End of Testimonials-->